<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        LogIn
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLigin(loginForm)">
          <div class="form-gourp col-12">
            <label>Name</label>
            <input type="text" class="form-control" required ngModel name="userName"/>
          </div>
          <div class="form-gourp col-12">
            <label>Password</label>
            <input type="password" class="form-control" required ngModel name="password"/>
          </div>
          <div class="form-gourp col-12">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
            <button type="submit" class="btn btn-secondary m-lg-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
