<div class="row mb-5">
  <div  class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
       <h3> List your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset #formTabs class="member-tabset">
            
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellRent">
                    <label class="btn btn-outline-primary me-2" btnRadio=1 tabindex="0" role="button" name="sellRent">sell</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button" name="sellRent">Rent</label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup  formControlName="BHK" >
                    <label *ngFor="let bhk of ['1','2','3','4']"
                    class="btn btn-outline-primary me-2" [btnRadio]="bhk" tabindex="0" role="button" name="sellRent">{{bhk}}</label>
                  
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup     formControlName="PType" >
                    <label *ngFor="let pType of propertyTypes"
                    class="btn btn-outline-primary me-2" [btnRadio]="pType" tabindex="0" role="button" name="sellRent">{{pType}}</label>
                  
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnish Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType">
                    <label *ngFor="let fType of furnishTypes"
                    class="btn btn-outline-primary me-2" [btnRadio]="fType" tabindex="0" role="button" name="sellRent">{{fType}}</label>
                  
                  </div>
                </div>

                  <div class="form-group col-12">
                    <label>in Building/Society/Project</label>
                     <input type="text" class="form-control"  formControlName="Name"  >
                     <span  class="error-block" *ngIf="(!BasicInfo.valid && isNexttab) || BasicInfo.touched">
                         please provie Name
                     </span>
                  </div>

                  <div class="form-group col-12">
                    <label>City</label>
                    <input type="text" class="form-control"  formControlName="City" >
                  </div>

                  <div class="form-group d-grid gap-2 mt-2">
                      <button type="button" class="btn btn-primary btn-block"
                      (click)="selectTab(1,BasicInfo.valid)">Next</button>
                  </div>
              </tab>

              <tab heading="Pricing and Area">
                  <div class="form-group col-12">
                    <label>Price (in USD)</label>
                    <input type="text" class="form-control"  >
                  </div>

                  <div class="form-group col-12">
                    <label>Security (in USD)</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="form-group col-12">
                    <label>Maintenance (in USD)</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="form-group col-12">
                    <label>Built Area (in Sqr Feet)</label>
                    <input type="text" class="form-control" >
                  </div>

                  <div class="form-group col-12">
                    <label>Carpet Area(in Sqr Feet)</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="form-group d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(2,false)">Next</button>

                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(0,false)">Back</button>
                  </div>
              </tab>

              <tab heading="Address">

                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control">
                </div>

                  <div class="form-group d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(3,false)">Next</button>

                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(1,false)">Back</button>
                  </div>
              </tab>

              <tab heading="Other Details">
                <div class="form-group col-12">
                  <p>Ready To Move</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let gCommunity of gatedCommunity"
                    class="btn btn-outline-primary me-2" [btnRadio]="gCommunity" tabindex="0" role="button" name="sellRent">{{gCommunity}}</label>
                  
                  </div>
                </div>

                <div class="form-group col-3">
                  <label>Possession/Avaialble From</label>
                  <input type="text"
                  placeholder="Datepicker"
                  class="form-control"
                  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                </div>

                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" class="form-control">
                </div>


                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let gCommunity of gatedCommunity"
                    class="btn btn-outline-primary me-2" [btnRadio]="gCommunity" tabindex="0" role="button" name="sellRent">{{gCommunity}}</label>
                  
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Ready To Move</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let rTomove of readyToMove"
                    class="btn btn-outline-primary me-2" [btnRadio]="rTomove" tabindex="0" role="button" name="sellRent">{{rTomove}}</label>
                  
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6"></textarea>
                </div>

                <div class="form-group d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(4,false)">Next</button>

                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(2,false)">Back</button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br>
                      This is under construction
                  </div>
                </div>
                <div class="form-group d-grid gap-2">
                  <button type="button" class="btn btn-primary " (click)="selectTab(3,false)">Back</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your property Preview</h3>
    </div>
    <div class="shadow-lg p3 bg-white">
      <app-property-card [Property]="propertyView" [hideIcons]="true"></app-property-card>
     </div>
  </div>
</div>